@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.h1 {
  font-size: 32px;
}
@media (min-width: 1024px) {
  .h1 {
    font-size: 40px;
  }
}

.h2 {
  font-size: 24px;
}
@media (min-width: 991px) and (max-width: 1023px) {
  .h2 {
    font-size: 28px;
  }
}
@media (min-width: 1024px) {
  .h2 {
    font-size: 32px;
  }
}

.h3 {
  font-size: 18px;
}
@media (min-width: 1024px) {
  .h3 {
    font-size: 24px;
  }
}

.h4 {
  font-size: 18px;
}

.h5 {
  font-size: 16px;
}

.h6 {
  font-size: 14px;
}

.input::-moz-placeholder {
  font-size: 14px;
}

.body, .editor .ql-editor, .p-multiselect-panel .p-multiselect-items .p-multiselect-item, .p-dropdown .p-dropdown-label, .p-dropdown-panel .p-dropdown-items .p-dropdown-item, .p-datatable .p-datatable-thead tr th, .p-datatable .p-datatable-tbody tr td, .p-breadcrumb .p-menuitem,
.p-breadcrumb .p-menuitem-text, .Toastify__toast-container .Toastify__toast, .input, .input::placeholder {
  font-size: 14px;
}

.label {
  font-size: 12px;
}

body,
.p-component {
  font-family: "Inter", sans-serif;
}

.shadow_md {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.0509803922);
}

.shadow_sm {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.0509803922);
}

.main_drop_shadow {
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.063));
  -webkit-filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.063));
}

.nav_shadow {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1536px;
  width: 100%;
}

.hide_scroll_bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide_scroll_bar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.invalid, .input.invalid {
  border: 1px solid var(--color-semantic-red-900);
}

.input {
  background-color: transparent;
  display: flex;
  width: 100%;
  flex-grow: 1;
  border: 1px solid var(--color-neutral-black-200);
  padding: 10px 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  outline: none;
  box-shadow: none;
  font-weight: 500;
  color: var(--color-neutral-black-500);
}
.input:focus-within {
  border: 1px solid var(--color-neutral-black-300);
}
.input::-moz-placeholder {
  color: var(--color-neutral-black-300);
  font-weight: 500;
}
.input::placeholder {
  color: var(--color-neutral-black-300);
  font-weight: 500;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loader {
  color: var(--color-neutral-black-900);
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
  -webkit-animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader:before, .loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.Toastify__toast-container .Toastify__progress-bar--wrp {
  height: 2.5px !important;
}
.Toastify__toast-container .Toastify__close-button {
  top: 50%;
  right: auto !important;
  inset-inline-end: 12px !important;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.Toastify__toast-container .Toastify__close-button svg {
  fill: var(--color-neutral-500);
  stroke: var(--color-neutral-500);
}
.Toastify__toast-container .toast_main_content_style, .Toastify__toast-container .Toastify__toast--warning, .Toastify__toast-container .Toastify__toast--error, .Toastify__toast-container .Toastify__toast--info, .Toastify__toast-container .Toastify__toast--success {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 12px;
  overflow: hidden !important;
}
.Toastify__toast-container .Toastify__toast {
  position: relative;
  font-size: 13px;
  color: var(--color-neutral-black-500);
}
.Toastify__toast-container .Toastify__toast::before {
  content: "";
  position: absolute;
  display: flex;
  inset-inline-start: 0;
  width: 4px;
  height: 100%;
}
.Toastify__toast-container .Toastify__toast--success .Toastify__toast-icon svg {
  fill: var(--color-semantic-green-900);
}
.Toastify__toast-container .Toastify__toast--success::before {
  background-color: var(--color-semantic-green-900);
}
.Toastify__toast-container .Toastify__toast--info .Toastify__toast-icon svg {
  fill: var(--color-neutral-black-900);
}
.Toastify__toast-container .Toastify__toast--info::before {
  background-color: var(--color-neutral-black-900);
}
.Toastify__toast-container .Toastify__toast--error .Toastify__toast-icon svg {
  fill: var(--color-semantic-red-900);
}
.Toastify__toast-container .Toastify__toast--error::before {
  background-color: var(--color-semantic-red-900);
}
.Toastify__toast-container .Toastify__toast--warning {
  color: var(--color-orange-400);
}
.Toastify__toast-container .Toastify__toast--warning .Toastify__toast-icon svg {
  fill: var(--color-orange-400);
}
.Toastify__toast-container .Toastify__toast--warning::before {
  background-color: var(--color-orange-400);
}
.Toastify__toast-container .Toastify__progress-bar--success {
  background-color: var(--color-semantic-green-900) !important;
}
.Toastify__toast-container .Toastify__progress-bar--info {
  background-color: var(--color-neutral-black-900) !important;
}
.Toastify__toast-container .Toastify__progress-bar--error {
  background-color: var(--color-semantic-red-900) !important;
}
.Toastify__toast-container .Toastify__progress-bar--warning {
  background-color: var(--color-orange-400) !important;
}

.p-inputotp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 765px) {
  .p-inputotp {
    gap: 10px;
  }
}
.p-inputotp-input {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid var(--color-neutral-black-200) !important;
}
@media (min-width: 745px) {
  .p-inputotp-input {
    height: 48px;
    width: 48px;
  }
}
.p-inputotp-input.p-filled {
  border: 1px solid var(--color-neutral-black-500) !important;
}
.p-inputotp .p-invalid {
  border: 1px solid var(--color-semantic-red-900) !important;
}
.p-inputotp .p-inputtext:enabled:focus {
  box-shadow: none !important;
  border: 1px solid var(--color-neutral-black-500) !important;
}

.p-breadcrumb {
  background: transparent !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border: none;
}
.p-breadcrumb-list {
  display: flex;
  align-items: center;
  gap: 5px;
}
.p-breadcrumb .p-menuitem,
.p-breadcrumb .p-menuitem-text {
  color: var(--color-neutral-black-500);
}
.p-breadcrumb .p-menuitem-separator svg {
  color: var(--color-neutral-black-400);
  width: 12px;
  height: 12px;
}
.p-breadcrumb li:last-of-type .p-menuitem-text {
  color: var(--color-neutral-black-900) !important;
  cursor: default;
}

body:dir(rtl) .p-menuitem-separator {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.p-checkbox {
  width: 18px !important;
  height: 18px !important;
}
.p-checkbox .p-checkbox-box {
  width: 18px !important;
  height: 18px !important;
  background: white;
  border: 2px solid var(--color-neutral-black-100);
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}
.p-checkbox.p-highlight .p-checkbox-box {
  border: 2px solid var(--color-neutral-black-900);
  background-color: var(--color-neutral-black-900);
}
.p-checkbox.p-highlight .p-checkbox-box.p-disabled {
  border: 2px solid var(--color-neutral-black-200);
  background-color: var(--color-neutral-black-200);
}
.p-checkbox.p-disabled {
  border: 2px solid var(--color-neutral-black-200);
}

.p-invalid .p-checkbox-box {
  border: 2px solid var(--color-semantic-red-900);
}

.p-datatable .p-datatable-thead tr th {
  border-top: 1px solid var(--color-neutral-black-100);
  border-bottom: 1px solid var(--color-neutral-black-100);
  background-color: transparent !important;
  text-wrap: nowrap;
  font-weight: 500;
  color: var(--color-neutral-black-500);
  font-weight: 500;
  text-align: start;
  height: 44px;
  min-width: 80px;
}
.p-datatable .p-datatable-tbody tr {
  transition: backgroud 0.3s ease-in-out;
  -webkit-transition: backgroud 0.3s ease-in-out;
  -moz-transition: backgroud 0.3s ease-in-out;
  -ms-transition: backgroud 0.3s ease-in-out;
  -o-transition: backgroud 0.3s ease-in-out;
}
.p-datatable .p-datatable-tbody tr td {
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px !important;
  text-align: start;
  color: var(--color-neutral-black-500);
  height: 80px;
  font-weight: 500;
  text-wrap: nowrap;
}
.p-datatable .p-datatable-tbody tr:not(:last-of-type) {
  border-bottom: 1px dashed var(--color-neutral-white-200) !important;
}
.p-datatable .p-datatable-tbody tr.p-datatable-emptymessage:hover {
  background: transparent;
}

.hide_header .p-datatable-thead {
  display: none;
}

.deleted_row {
  color: var(--color-neutral-black-200);
}

.p-dropdown {
  border: 1px solid var(--color-neutral-black-200);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  align-items: center;
  height: 40px;
}
.p-dropdown:not(.p-disabled).p-focus {
  border: 1px solid var(--color-neutral-black-300);
  box-shadow: none !important;
}
.p-dropdown.p-invalid {
  border: 1px solid var(--color-semantic-red-900);
}
.p-dropdown .p-dropdown-label {
  font-weight: 400;
  padding: 10px 15px;
  text-transform: capitalize;
  color: var(--color-neutral-black-500);
}
.p-dropdown .p-dropdown-label.p-placeholder {
  color: var(--color-neutral-black-300);
}

.p-dropdown-panel {
  padding: 10px 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.p-dropdown-panel .p-dropdown-filter-container {
  height: 32px;
  display: flex;
  align-items: center;
  padding: 2px 10px;
}
.p-dropdown-panel .p-dropdown-filter-container .p-inputtext {
  max-width: 90%;
}
.p-dropdown-panel .p-dropdown-filter-container .p-inputtext:enabled:focus {
  box-shadow: none !important;
}
.p-dropdown-panel .p-dropdown-filter-container .p-dropdown-clear-icon,
.p-dropdown-panel .p-dropdown-filter-container .p-dropdown-filter-icon,
.p-dropdown-panel .p-dropdown-filter-container .p-dropdown-filter-clear-icon {
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.p-dropdown-panel .p-dropdown-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  font-weight: 400;
  color: var(--color-neutral-black-500);
  text-transform: capitalize;
  padding: 6px;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: var(--color-neutral-black-500);
  background: var(--color-neutral-white-100);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-focus {
  color: var(--color-neutral-black-500);
  background: var(--color-neutral-white-100);
}

.p-multiselect {
  border: 1px solid var(--color-neutral-black-200);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  align-items: center;
  height: 40px;
}
.p-multiselect:not(.p-disabled).p-focus {
  border: 1px solid var(--color-neutral-black-300);
  box-shadow: none !important;
}
.p-multiselect.p-invalid {
  border: 1px solid var(--color-semantic-red-900);
}
.p-multiselect .p-multiselect-label {
  font-weight: 400;
  padding: 10px 15px;
  text-transform: capitalize;
  color: var(--color-neutral-black-300);
}
.p-multiselect.p-inputwrapper-filled .p-multiselect-label {
  color: var(--color-neutral-black-500);
}

.p-multiselect-panel {
  padding: 10px 15px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.p-multiselect-panel .p-multiselect-header {
  display: flex;
  align-items: center;
  gap: 4px;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container {
  display: flex;
  align-items: center;
  height: 35px;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container svg {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-multiselect-filter {
  border: 1px solid var(--color-neutral-black-200);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0px 10px;
}
.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-multiselect-filter.p-inputtext:enabled:focus {
  box-shadow: none;
  border: 1px solid var(--color-neutral-black-200);
}
.p-multiselect-panel .p-multiselect-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  font-weight: 400;
  color: var(--color-neutral-black-500);
  text-transform: capitalize;
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: var(--color-neutral-black-500);
  background: var(--color-neutral-white-100);
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-focus {
  color: var(--color-neutral-black-500);
  background: var(--color-neutral-white-100);
}

.p-inputswitch {
  width: 52px;
  height: 32px;
}
.p-inputswitch.p-highlight .p-inputswitch-slider {
  background: var(--color-neutral-black-900);
}
.p-inputswitch .p-inputswitch-slider {
  background: var(--color-neutral-black-100);
}
.p-inputswitch .p-inputswitch-slider::before {
  width: 24px;
  height: 24px;
  margin-top: -12px;
}
.p-inputswitch.p-disabled .p-inputswitch-slider {
  background: var(--color-neutral-black-100);
}
.p-inputswitch.p-invalid > .p-inputswitch-slider {
  border: 1px solid var(--color-semantic-red-900);
}

.editor {
  border: 1px solid var(--color-neutral-black-200);
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.editor.error {
  border: 1px solid var(--color-semantic-red-900);
}
.editor .ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid var(--color-neutral-black-200);
}
.editor:focus-within {
  border: 1px solid var(--color-neutral-black-300);
}
.editor:focus-within .ql-toolbar.ql-snow {
  border-bottom: 1px solid var(--color-neutral-black-300);
}
.editor .ql-editor,
.editor .ql-container.ql-snow {
  border: none;
  color: var(--color-neutral-black-500);
}
.editor .ql-editor {
  height: 150px;
  overflow-y: auto;
  stroke: var(--color-neutral-black-200);
}
.editor .ql-snow .ql-stroke {
  stroke-width: 1.5;
  stroke: var(--color-neutral-black-200);
}
.editor .ql-snow .ql-fill {
  fill: var(--color-neutral-black-200);
}

.editor.ar .ql-container.ql-snow {
  direction: rtl;
}
.editor.ar .ql-editor {
  text-align: start;
}

.editor.en .ql-container.ql-snow {
  direction: ltr;
}

button:hover .ql-stroke,
button.ql-active .ql-stroke {
  stroke: var(--color-neutral-black-300) !important;
}
button:hover .ql-fill,
button.ql-active .ql-fill {
  fill: var(--color-neutral-black-300) !important;
}

.ql-color option {
  background-color: currentColor;
  color: white;
}

.ql-size option[value=Normal]::before {
  content: "16px";
}

.ql-size option[value=Large]::before {
  content: "18px";
}

.p-dialog {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.p-dialog-header {
  padding: 0px !important;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.p-dialog-header-icons {
  display: none;
}

.p-dialog-content {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.p-dialog-content {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 20px 24px 24px;
}/*# sourceMappingURL=style.css.map */